.nav {
  display: flex;

  &__ul {
    background-color: #fff;
  }

  &__item {
    font-weight: bold;

    &--selected {
      color: red;
    }
  }

  &__link {
    color: inherit;
    text-decoration: none;
  }
}
